.bookmark-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.bookmark-table th,
.bookmark-table td {
  border: 1px solid #f9f9f9;
  padding: 8px;
}

/* hover 효과 */
.bookmark-table tbody tr:hover {
  background-color: #f9f9f9;
  transition: background-color 0.2s ease;
  cursor: pointer;
}
